body{
    background-color: #333333;
}
#container{
    background-color: #094;
    border: 5px;
    height: 275px;
    width:750px;
    margin: 0 auto;
    text-align: center;
    border-radius: 23px;
}
#btn{
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: rgb(192, 191, 191);
    border-radius: 10px;

}
#output{
    margin: 25px auto;
    font-size: 26px;
    color: black;
}